<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Multithread-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F99DE84B1DDC220000F58E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F99DE8641DDC220000F58E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F99DE86F1DDC220000F58E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
